.cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}


/*  */

:root {
    --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
    --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
    --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
    --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
    --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
    --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
    --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
    --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
    --ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --color-primary: #0092ca;
    --color-secondary: #6dd5ed;
    --color-primary-dark: #192294;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-link: #606470;
    --color-link-dark: #3c4245;
    --color-background: #f5f9ee;
    --color-border-sc: #ececec;
    --color-border-focus: #a9d7f6;
    --color-border: #eeeeee;
    --bs: #ffa857;
    --color-dark-grey: #a4a3a3;
    --gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));
  }

  .container_login {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form {
    position: absolute;
    width: 80%;
    max-width: 480px;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 3em 2.2em;
    transition: all .3s ease-in-out;
  }

  /* Criar */
  .form.sign-up {
    opacity: 0;
    pointer-events: none;
  }


  .forms.show-signup .form.sign-up {
    opacity: 1;
    pointer-events: auto;
  }

  .forms.show-signup .form.sign-in {
    opacity: 0;
    pointer-events: none;
  }

  /* Validação */

  .form input:focus,
  .forum input:not(:placeholder-shown) {
    background-color: var(--color-background);
    border-color: var(--color-border-focus);
  }

  .form input:focus,
  .forum input:placeholder-shown {
    box-shadow: 0 0 0 2px var(--color-border-focus);
  }

  .form input:focus:valid {
    box-shadow: 0 0 0 2px var(--color-success);
  }

  .form input:valid:not(:placeholder-shown) {
    border-color: var(--color-success);
  }

  .form input:focus:invalid {
    box-shadow: 0 0 0 2px var(--color-error);
  }

  .form input:invalid:not(:placeholder-shown) {
    border-color: var(--color-error);
  }

  /* delete */


  .delete {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

.delete,
.delete span {
    transition: 200ms;
}

.delete .text {
    transform: translateX(25px);
    color: white;
    font-weight: bold;
    margin-left: -20px;
}

.delete .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(70px);
    height: 20px;
    width: 30px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete img {
    width: 10px;
    fill: #eee;
}

.delete:hover {
    background: #ff3636;
}

.delete:hover .text {
    color: transparent;
}

.delete:hover .icon {
    width: 100px;
    border-left: none;
    transform: translateX(0);
}

.delete:focus {
    outline: none;
}

.delete:active .icon img {
    transform: scale(0.8);
}

/* alterar */


.alterar {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: 1ba2c4;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #1ba2c4;
}

.alterar,
.alterar span {
  transition: 200ms;
}

.alterar .text {
  transform: translateX(25px);
  color: white;
  font-weight: bold;
  margin-left: -20px;
}

.alterar .icon {
  position: absolute;
  border-left: 1px solid #ffffff;
  transform: translateX(70px);
  height: 20px;
  width: 30px;
  margin-left: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alterar img {
  width: 10px;
  fill: #eee;
}

.alterar:hover {
  background: #1ba2c4;
}

.alterar:hover .text {
  color: transparent;
}

.alterar:hover .icon {
  width: 100px;
  border-left: none;
  transform: translateX(0);
}

.alterar:focus {
  outline: none;
}

.alterar:active .icon img {
  transform: scale(0.8);
}

/* ATIVAR */


.ativar {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: 1ba2c4;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #07d303;
}

.ativar,
.ativar span {
  transition: 200ms;
}

.ativar .text {
  transform: translateX(25px);
  color: white;
  font-weight: bold;
  margin-left: -20px;
}

.ativar .icon {
  position: absolute;
  border-left: 1px solid #ffffff;
  transform: translateX(70px);
  height: 20px;
  width: 30px;
  margin-left: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ativar img {
  width: 10px;
  fill: #eee;
}

.ativar:hover {
  background: #07d303;
}

.ativar:hover .text {
  color: transparent;
}

.ativar:hover .icon {
  width: 100px;
  border-left: none;
  transform: translateX(0);
}

.ativar:focus {
  outline: none;
}

.ativar:active .icon img {
  transform: scale(0.8);
}